* {
	/* COLORS */
	--bold:#1387e0;
	--blue: #91BF88;
	--lightblue: #1387e0;
	/* RADII */
	--button-radius: 0.7rem;
	/* SIZES */
	--max-width: 1000px;
	--max-height: 500px;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	align-items: center;
	background-color: #1387e0;
	background-image: url('/static/images/mainb.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: grid;
	place-items: center;
}

.top{
	position: relative;
	margin: 0;
	border: 0;
	width: 100%;
}

.logo{
    position: relative;
  	top:0%;
    left:3%;
    height: 180px;
	float: left;
}

.container{
	width: 100%;
	height: 70%;
	position: relative;
	left: 100px;
}

.icon{
    font-size:20px;
    color: #c9bca0;
	position:absolute;
	margin: 0 auto;
	top:60%;
	float: right;
	font-weight: bold;
}

#enter{
    right:50px;
}

.note{
	height: 0;
	width: 0;
}

.head{
    background-color: #0b0906;
    height: 50px;
    width: 900px;
	position: relative;
	margin-top: -40px;
	margin-bottom: 10px;
}

.head div{
	font-size:22px;
    color: #1387e0;
	/* margin: 0 auto; 居中 */
	position:relative;
	float: left;
	text-align: center;
	height: 50px;
	top: 20%;
}

#htime{
	float: right;
	width: 180px;
}
#hposter{
	width: 170px;
}
#htip{
	width: 490px;
}

.contents--black {
	position: relative;
	height: 50px;
    width: 900px;
	display: block;
	background-color: #e8e7e6;
}

.contents--brown{
	display: inline-block;
	position: relative;
	height: 50px;
    width: 900px;
	display: block;
	background-color: #f5f5f5
}

.contents--black div{
	font-size: 19px;
	color: #fff;
	position: relative;
	float: left;
	height: 50px;
}
.contents--brown div{
	font-size: 19px;
	color:#fff;
	position: relative;
	float: left;
	height: 50px;
}

#ctime{
	float: right;
	width: 145px;
	top: 10px;
}
#cposter{
	width: 135px;
	top: 10px;
}
.ctip{
	width: 540px;
	text-align:left;
	margin-left:10px;
	top: 10px;
}

.ctip1{
	width: 540px;
	text-align:left;
	margin-left:10px;
	top: 10px;
}

.personal_details{
    height: 200px;
    width: 300px;
	position: absolute;
    right:10%;
}

.avatar_id{
	position: relative;
	height: 200px;
    width: 300px;
    background-image: url('/static/images/X.png');
	background-repeat: no-repeat;
    background-position: center;
	background-size: 250%;
}

.avatar_id img{
	width:80px;
	height:80px;
    margin: 5px 5px 5px 0;
	border-radius: 50px;
	margin-top: 50px;
	margin-left: 30px;
	float: left;
}

.umsg{
	position: relative;
	height: 160px;
    width: 250px;
	margin-left: 50px;
	top:10px;
}

.icons{
    font-size:25px;
    color: #c9bca0;
	position:relative;
	top:30%;
	left: 10%;
}
#ID{
    font-size:19px;
}

.tool{
    background-color: #0b0906;
    height: 70px;
    width: 290px;
	position: relative;
	margin-bottom: 20px;
	left: 9px;
}

.tool img{
	position: relative;
	width: 40px;
	height: 40px;
	top: 15px;
	margin-left: 40px;
}

.search{
	background-color: #0b0906;
    height: 50px;
    width: 290px;
	position: relative;
	left: 9px;
}
.circle{
	position: relative;
	width: 274px;
	height: 40px;
	border: #c9bca0 1px solid;
	top: 4px;
	left: 7px;
}
.search img{
	position: relative;
	width: 30px;
	height: 30px;
	top: 5px;
	left: 80%;
}

hidd{
    height:0;
    weight:0;
}

.ctip::before{
	content: "秘 ";
	color: #f00;
	font-size: 25px;
	font-weight: bold;
}
.ctip1::before{
	content: " 秘 ";
	color: #767171;
	font-size: 25px;
	font-weight: bold;
}