* {
	/* COLORS */
	--bold: #c9bca0;
	--blue: #91BF88;
	--lightblue: #1387e0;
	/* RADII */
	--button-radius: 0.7rem;
	/* SIZES */
	--max-width: 1000px;
	--max-height: 500px;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #fff;
}

body {
	align-items: center;
	background-color: #1387e0;
	background: url('/static/images/tback.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: grid;
	place-items: center;
}

.top {
	position: relative;
	margin: 0;
	border: 0;
	width: 100%;
	height: 180px;
}

.logo {
	position: relative;
	top: 0%;
	left: 5%;
	width: 80%;
	height: 120px;
	float: left;
}

.head {
	width: 100%;
	height: 60px;
	position: relative;
}

.title {
	width: 300px;
	height: 60px;
	text-align: center;
	background-color: #1387e0;
	float: left;
	margin-left: 130px;
}

.title p {
	position: relative;
	color: #c9bca0;
	font-size: 20px;
	top: -5px;
}

.store {
	position: relative;
	background-image: url('/static/images/store.png');
	background-color: #1387e0;
	background-size: 50% 50%;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin-left: 40px;
	height: 60px;
	width: 60px;
}

.store.share {
	background-image: url('/static/images/share.png');
	background-size: 40% 40%;
}

.bod {
	width: 100%;
	height: auto;
}

.personal_details {
	height: 200px;
	width: 300px;
	position: relative;
	float: left;
	margin-left: 130px;
}

.avatar_id {
	position: relative;
	margin-top: 20px;
	height: 120px;
	width: 240px;
	background-color: #1387e0;
}

.avatar_id img {
	width: 60px;
	height: 60px;
	margin: 5px 5px 5px 0;
	border-radius: 50px;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}

.umsg {
	position: relative;
	height: 140px;
	width: 200px;
	margin-left: 30px;
}

.icons {
	font-size: 25px;
	color: #c9bca0;
	position: relative;
	top: 20%;
	left: 10%;
}

#ID {
	font-size: 19px;
}

#ID2 {
	font-size: 19px;
}

.topic {
	width: 900px;
	height: auto;
	background-color: #1387e0;
	position: relative;
	float: left;
	margin-top: 20px;
	left: -30px;
}

.topic_top {
	height: 70px;
	width: 100%;
}

.topic_top:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
}

.topic_top:hover:after {
	transition-duration: 1s;
	border-bottom: 30px solid #2e2825;
	border-right: 30px solid rgb(150, 143, 143);
}

.topic_tap {
	height: 70px;
	width: 100%;
}

.topic_tap:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
}

.topic_tap:hover:after {
	transition-duration: 1s;
	border-bottom: 30px solid #7594b3;
	border-right: 30px solid rgb(150, 143, 143);
}

.number {
	position: relative;
	background-color: #60221a;
	height: 24px;
	width: 34px;
	text-align: center;
	font-size: 18px;
	left: 28px;
	top: 10px;
}

.numbers {
	position: relative;
	background-color: #60221a;
	height: 24px;
	width: 34px;
	text-align: center;
	font-size: 18px;
	left: 28px;
	top: 10px;
}

.date {
	position: relative;
	float: left;
	top: -15px;
	font-size: 15px;
	left: 760px;
}

.context {
	height: auto;
	width: 800px;
	margin-left: 30px;
	position: relative;
	margin-bottom: 50px;
	letter-spacing: 1.5px;
}

.topic_top_r {
	height: 70px;
	width: 100%;
}

.topic_repley {
	width: 900px;
	height: auto;
	background-color: #2e2825;
	position: relative;
	float: left;
	margin-top: 20px;
	left: -30px;
}

.topic_repleys {
	width: 900px;
	height: auto;
	background-color: #1387e0 position: relative;
	float: left;
	margin-top: 20px;
	left: -30px;
}

#black {
	background-color: #1387e0
}

.avatar_id_r {
	position: relative;
	margin-top: 20px;
	height: 120px;
	width: 240px;
	background-color: #2e2825;
}

.avatar_id_r img {
	width: 60px;
	height: 60px;
	margin: 5px 5px 5px 0;
	border-radius: 50px;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}

.page {
	height: 50px;
	width: 100%;
	margin-left: 240px;
	position: relative;
}

.page div {
	float: left;
	color: #c9bca0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: 10px;
	font-size: 15px;
	background-color: #1387e0;
}

.se {
	width: 60px;
}

.bn {
	width: 80px;
}

.page_number {
	width: 30px;
}

#count {
	font-size: 10px;
	margin-left: 20px;
	background-color: transparent;
}

.reply {
	position: relative;
	width: 1200px;
	height: 350px;
	margin-left: 20px;
	background-image: url('/static/images/reply.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.inputs {
	width: 1000px;
	height: 290px;
	margin-top: 25px;
	float: right;
	margin-right: 30px;
	background-color: transparent;
	border-color: transparent;
	outline: none;
}

.send {
	width: 120px;
	height: 50px;
	position: relative;
	background-image: url('/static/images/SEND.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #1387e0;
	border: none;
	margin-top: 15px;
	margin-left: 1100px;
	display: block;
}