<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babolbabol</title>
    <link rel="stylesheet" href="/static/css/Topic.css">
</head>

<body>
    <!-- 头部 -->
    <!-- 跳转至论坛主界面 -->
    <div class="top">
        <img src="/static/images/title.png" alt="Babolbabol" class="logo">
    </div>
    <!-- 标题、收藏、分享 -->
    <div class="head">
         <div class="title"><p>{{ inf.Topic.TTopic }}</p></div>
<!--        <div class="title"><p>《缄默法则》模组发布</p></div>-->
        <div class="store" id="store"></div>
        <div class="share store"></div>
    </div>
    <!-- 用户和帖内容 -->
    <div class="bod">
        <div class="personal_details">
            <div class="avatar_id">
                <img src="/static/images/0.jpg" alt="用户头像">
                <div class="umsg">
                    <div class="icons">{{ inf.Topic.username }}</div>
                    <div class="icons" id="ID">ID {{ inf.Topic.UID_id }}</div>
                </div>
            </div>
        </div>
<!-- 设置字体宽度随内容改变div{ width:auto; display:inline-block !important; display:inline; } -->
        <div class="topic">
            <div class="topic_top" id="topic">
                <div class="number"></div>
                <div class="date">{{ inf.Topic.TTime|date:'M d, Y' }}</div>
            </div>
            <div class="context">{{ inf.Topic.TContent }}</div>
        </div>
    </div>
    <form action="{% url 'prgetopic' %}" id="getopic" method="POST" onsubmit="return check()">{% csrf_token %}
        <input type="hidden" value="{{ inf.uid }}" name="UID" required=""/>
        <input type="hidden" value="0" name="TID" required="" class="hidd" id="TID"/>
    </form>
</body>
<script src="/static/js/prTopic.js"></script>
<script type="text/javascript">
    const logo = document.getElementById('logo');
    const form = document.getElementById("getopic")
    logo.addEventListener("click", () => {
        form.submit();
    });
</script>
</html>