<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babolbabol</title>
    <link rel="stylesheet" href="/static/css/indexs.css">
</head>

<body>
    <div class="container right-panel-active">
        <!-- 登录 -->
        <div class="container__form container--signup">
            <form action="{% url 'login' %}" method="post" class="form" id="form1" onsubmit="return loginBtn_click();">{% csrf_token %}
                <input type="username" name="username" placeholder="用户名" class="input" id="user" required=""/>
                <div class="kuang">
                    <input type="password" name="password" placeholder="密码" class="input" id='pass' required=""/>
                    <div class="conceal" id='conceal'></div>
                </div>
                 <input type="submit" class="btn" value="登录" id="sub" name="login">
                <!--<button type="submit" class="btn" id="sub" name="login">登录</button> -->
                <div class="passwordset">
                    <input type="checkbox" id="remember" checked><span class="rember">记住密码</span>
                </div>
            </form>
        </div>
        <!-- 注册 -->
        <div class="container__form container--signin">
            <form action="{% url 'register' %}" method="POST" class="form" id="form2">{% csrf_token %}
                <input type="username" name="username" placeholder="用户名" class="input" required=""/>
                <input type="password" name="password" placeholder="密码" class="input" required=""/>
                <input type="password" name="password" placeholder="确认密码" class="input" required=""/>
                <input type="submit" class="btn" value="注册" name="register">
<!--                <button type="submit" class="btn" name="register">注册</button>-->
            </form>
        </div>
        <!-- 整体 -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <div class="img" id="signIn"></div>
                </div>
                <div class="overlay__panel overlay--right">
                    <div class="img" id="signUp"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="line" id="line"></div>
</body>
<script src="/static/js/indexs.js"></script>
</html>