<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babolbabol</title>
    <link rel="stylesheet" href="/static/css/prmain.css">
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
    {% csrf_token %}
    <!-- 头部 -->
    <!-- 跳转至 主贴界面 或 管理员登录界面 -->
    <div class="top">
        <img src="/static/images/title.png" alt="Babolbabol" class="logo" id="logo">
        <div class="icon" id="enter">"阅后即焚"部</div>
    </div>
    <div class="container">
        <!-- 帖子 -->
        <div class="note">
            <!-- 抬头 -->
            <div class="head">
                <div id="htip">标题</div>
                <div id="hposter">发布人</div>
                <div id="htime">时间</div>
            </div>
            <!-- 具体贴-指定用户 -->
            {% for top in infornation.topics %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="contents--brown">
                <div class="ctip" id="{{ top.TID }}" onclick="fun(event)">{{ top.TTopic }}</div>
                <div id="cposter">{{ top.username }}</div>
                <div id="ctime">{{ top.TTime|date:'M d, Y' }}</div>

            </div>
            {% else %}
            <div class="contents--black">
                <div class="ctip" id="{{ top.TID }}" onclick="fun(event)">{{ top.TTopic }}</div>
                <div id="cposter">{{ top.username }}</div>
                <div id="ctime">{{ top.TTime|date:'M d, Y' }}</div>
            </div>
            {% endif %}
            {% empty %}
            {% endfor %}
            <!-- 具体贴-随机用户 -->
            {% for ran in infornation.ran %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="contents--brown">
                <div class="ctip1" id="{{ ran.TID }}" onclick="fun(event)">{{ ran.TTopic }}</div>
                <div id="cposter">{{ ran.username }}</div>
                <div id="ctime">{{ ran.TTime|date:'M d, Y' }}</div>

            </div>
            {% else %}
            <div class="contents--black">
                <div class="ctip1" id="{{ ran.TID }}" onclick="fun(event)">{{ ran.TTopic }}</div>
                <div id="cposter">{{ ran.username }}</div>
                <div id="ctime">{{ ran.TTime|date:'M d, Y' }}</div>
            </div>
            {% endif %}
            {% empty %}
            {% endfor %}
        </div>
        <!-- 用户信息 -->
        <div class="personal_details">
            <div class="avatar_id">
                <img src="/static/images/0.jpg" alt="用户头像">
                <div class="umsg">
                    <div class="icons" id="Usname">{{ infornation.user.uname }}</div>
                    <div class="icons" id="ID">ID {{ infornation.user.UID }}</div>
                </div>
            </div>
            <!--工具栏 -->
             <div class="tool">
                <a href="prsend/?id={{ infornation.user.UID }}"><img src="/static/images/text.png" alt="发布"></a>
                <a href=""><img src="/static/images/msg.png" alt="私信"></a>
                <a href=""><img src="/static/images/file.png" alt="回复"></a>
             </div>
             <!--搜索框 -->
            <div class="search">
                <div class="circle">
                    <img src="/static/images/searc.png" alt="搜索">
                </div>
            </div>
        </div>
    </div>
<form action="{% url 'gmain' %}" id="gmain" method="POST" onsubmit="return check()">{% csrf_token %}>
    <input type="hidden" name="uname" value="{{ infornation.user.uname }}" id="name">
</form>

<form action="{% url 'prgetopic' %}" id="getopic" method="POST" onsubmit="return check()">{% csrf_token %}
    <input type="hidden" value="{{ top.TID }}" name="TID" required="" class="hidd" id="TID"/>
    <input type="hidden" value="{{ infornation.user.UID }}" name="UID" required=""/>
</form>
</body>
<!--<script src="/static/js/prmain.js"></script>-->
<script type="text/javascript">
    const logo = document.getElementById('logo');
    fun = function(e){
        var tar = e.target|| e.srcElement;
        var id = tar.id;
        document.getElementById("TID").value = id;
        document.getElementById("getopic").submit();
    };
    logo.addEventListener("click", () => {
        document.getElementById("gmain").submit();
    });
</script>
</html>